<ion-header no-border>
  <div id="top">
    <button id="menu" menuToggle>
      <ion-icon name="menu" id="menu"></ion-icon>
    </button>

    <h2 id="head">My Profile</h2>
  </div>
</ion-header>
<ion-content class="master" padding>
  <ion-avatar class="pic" item-start>
    <img class="pic" src="assets/imgs/images.png">
  </ion-avatar>

  <div *ngFor="let item of items">
      <ion-item no-lines>
        <ion-label stacked>
          <h2>Username: {{item.name}}</h2>
        </ion-label>
        <!-- <ion-input placeholder= "{{item.name}}" id="name" name="name" [(ngModel)]="name" type="text"></ion-input> -->
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sup.controls.username.hasError('pattern') && sup.controls.username.touched">
        <p>Invalid Username</p>
      </ion-item> -->

      <ion-item no-lines>
        <ion-label stacked>
          <h2>Email: {{item.email}}</h2>
        </ion-label>
        <!-- <ion-input value= "{{item.email}}" id="em" name="em" [(ngModel)]="em" type="text"></ion-input> -->
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sup.controls.email.hasError('email') && sup.controls.email.touched">
        <p> Invalid email</p>
      </ion-item> -->

      <ion-item no-lines>
        <ion-label stacked>
          <h2>Mobile: {{item.phone}}</h2>
        </ion-label>
        <!-- <ion-input value= "{{item.phone}}" id="mob" name="mob" [(ngModel)]="mob" type="string"></ion-input> -->
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sup.controls.mobile.hasError('pattern') && sup.controls.mobile.touched">
        <p>Invalid mobile number</p>
      </ion-item> -->

      <ion-item no-lines>
        <ion-label stacked>
          <h2>Registration Number: {{item.regno}}</h2>
        </ion-label>
        <!-- <ion-input value= "{{item.regno}}" id="reg" name="reg" [(ngModel)]="reg" type="string"></ion-input> -->
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sup.controls.regno.hasError('pattern') && sup.controls.regno.touched">
        <p>Registration number is wrong</p>
      </ion-item> -->

      <ion-item no-lines>
        <ion-label stacked>
          <h2>Course: {{item.course}}</h2>
        </ion-label>
        <!-- <ion-input value= "{{item.course}}" id="course" name="course" [(ngModel)]="course" type="text"></ion-input> -->
      </ion-item>
      <!-- <ion-item no-lines *ngIf="sup.controls.course.hasError('pattern') && sup.controls.course.touched">
        <p>Invalid Course</p>
      </ion-item> -->


      <!-- <ion-list> -->
        <ion-item no-lines>
          <ion-label>
            <h2>Batch: {{item.batch}}</h2>
          </ion-label>
          <!-- <ion-select placeholder= "{{item.batch}}" name="batch" [(ngModel)]="batch">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
          </ion-select> -->
        </ion-item>
      <!-- </ion-list> -->

      <!-- <ion-list> -->
        <ion-item no-lines>
          <ion-label>
            <h2>Department: {{item.dept}}</h2>
          </ion-label>
          <!-- <ion-select placeholder= "{{item.dept}}" name="dept" [(ngModel)]="dept">
            <ion-option value="A1">A1</ion-option>
            <ion-option value="B1">B1</ion-option>
            <ion-option value="C1">C1</ion-option>
            <ion-option value="A2">A2</ion-option>
            <ion-option value="B2">B2</ion-option>
            <ion-option value="C2">C2</ion-option>
          </ion-select> -->
        </ion-item>
      <!-- </ion-list> -->

      <!-- <ion-list> -->
        <ion-item no-lines>
          <ion-label>
            <h2>Year: {{item.year}}</h2>
          </ion-label>
          <!-- <ion-select placeholder="{{item.year}}" name="year" [(ngModel)]="year">
            <ion-option value="1">1st</ion-option>
            <ion-option value="2">2nd</ion-option>
            <ion-option value="3">3rd</ion-option>
            <ion-option value="4">4th</ion-option>
          </ion-select> -->
        </ion-item>
      <!-- </ion-list> -->
  </div>
  <div class="item-center">
  <button ion-button type="submit" (click)="goToUpdate()" >Update Details</button>
</div>

</ion-content>
