page-events {
    .master{
       // background-image:linear-gradient(135deg,#49b3cd,#605496);
       background-color: rgb(48, 48, 48);
    }  

.des{
    font-size: 18px;
    text-align: justify;
    height:100px;
    overflow: hidden;
    color: rgb(190, 218, 224);
}
ion-card-title{
    color: white;
    
}
ion-item{
    background-color:rgb(190, 218, 224);
   // background-color:rgb(190, 218, 224);
    background: transparent !important;
}

ion-icon{
    background: transparent !important;
    font-size: xx-large;
}
h3{
    color: white;
}
.fab-close-icon{
     color: white;
    opacity: 100 !important;
    font-size: 50px;
}

#head{
    font-size: 30px;
    
    color: white;
    margin: 10px;
    font-family: 'Abel';
    margin-left: 60px;
}
.back{
    margin-left: 0%;
}   

.favo{
    font-size: 20px;
    color:white;
}
#menu{
    background-color:transparent;
    float: left;
    font-size: xx-large;
    margin-left: 5px;
    color: white;
}
.join{
    background-color: transparent;
    color: white !important;
    max-height: 50px;
    min-width: 100%;
}
.next{
    background-color:rgb(24, 6, 90);
    color: white; 
    font-size: 20px;   
    width: 50%; 
    margin-top: 15px;
    border-radius: 5px;
    border-bottom-right-radius: 1.8rem; 
    border-top-left-radius: 1.8rem; 
    
}
ion-scroll {

    width: 100%;

    height: 100%;

  }
  
  #host{
    background: transparent !important;
    float: left;
    font-size:xx-large;
    color: rgb(24, 6, 90);
    padding-right: 20px;
  }
  #name{
      font-size: 20px;
      color: white;
      
  }
  ion-label{
      font-size:20px;
      color: rgb(190, 218, 224);
  }
  .card-md{
    border-radius: 6px;
    border-bottom-right-radius: 3.5rem;
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;  
    background-color: #5e5e5e;
    box-shadow: -5px 5px 0px 0 rgb(39, 39, 39);
}
.photo{
    
    border-width: 1px;
    border-radius: 6px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
ion-header{
    background-color: #1b2c77;
    border-bottom-right-radius: 3.5rem;
    box-shadow: -5px 5px 0px 0 #1b2c77;
}
.avatar{
    font-size: 50px;
}
.wheat{
    color: wheat !important;
}
.font-large{
    font-size: xx-large;
}
#title{
    color: white;
    font-weight: bold;
}
.tab:hover{
    font-size: large;
    text-decoration: none;
    color: white;
}
.tab{
    border-bottom-width:0px !important;
    font-size: large;
    text-decoration: none;
    color: white !important;
}
ion-icon{
    color: rgb(190, 218, 224);
}
.item-center{
    text-align: center;
}
.interests{
    font-family: 'Abel';
    margin-top: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: white;

}
.submit{
    color: white;
    background-color: rgb(24, 6, 90);
    width: 50%;
    font-size: 20px !important;
    min-height: 40px;
    border-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
}