
page-details {
    .master{
        background-color: rgb(48, 48, 48);
    }
    
    .label-md {
        margin: 12px 8px 13px 0;
    }
    .question{
        font-size: 1.8rem;
        font-weight: bold;;
        max-width: 348px !important;
    }
    .wheat{
        color: wheat !important;
    }
    .white{
        color: white !important;
    }
    .inline-block{
        display: inline-block !important;
    }
    .item-center{
        text-align: center !important;
    }
    .card-md{
    border-radius: 6px;
    border-bottom-right-radius: 2.5rem;
    width: 95%;
    margin-left: auto;
    margin-top: 20px;  
    background-color: #5e5e5e;
    border-color: rgb(68, 68, 68);
    box-shadow: -3px 3px 0px 0 rgb(68, 68, 68);
    }
    .deets{
        // background: linear-gradient(16deg, rgba(255,255,255,1) 75%, #0e92ed 98%);
    background: rgb(73, 73, 73) ;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    }
    
    .description{
        display: block;
        
    }
    .vote{
        padding: 0;
    }   
    .comment{
        position: fixed;
        bottom: 0px;
        padding: 10px;
        padding-right: 65px;
    }
    .textbox{
        border-radius: 5px !important;
    }
    .voter{
        display: inline-block;
    }
    #upvote{
        //color: white !important;
        opacity: 100 !important;
    }
    .delete{
        //color: white !important;
        font-size: larger;
    }
    #menu{
        background-color:transparent;
        font-size: xx-large;
        display: inline;
        float: left;
        margin-left: 5px;
        margin-top: 12px;
    }
    ion-header{
        background-color: #1b2c77;
        box-shadow: -5px 5px 0px 0 #1b2c77;
    }
    
    .deet{
        background-color:transparent;
        //display: inline;
        float: left;
        width: 60%;
    }

    
}