page-aboutus {
    ion-header{
        background-color: #1b2c77;
    border-bottom-right-radius: 3.5rem;
    box-shadow: -5px 5px 0px 0 #1b2c77;
    }
    
    #head{
        font-size: 30px;
    font-family: 'Abel';
    color: white;
    margin: 10px;
    margin-left: 60px;
    }
#menu{
    background-color:transparent;
    float: left;
    font-size: xx-large;
    margin-left: 5px;
    color:white
}
}
